.voltar {
  border: none;
  background-color: transparent;
  font-size: 18pt;
  transition: .2s;
}

.voltar:hover {
  scale: 1.1;
}

.foto-abrigo {
  width: 320px;
  margin-bottom: 20px;
}

.abrigo-data h1 {
  font-size: 18pt;
}

.contact {
  display: flex;
  align-items: center;
  margin: 20px 0;
  gap: 10px;
}

.contact img {
  width: 30px;
}

.contact p {
  font-size: 14pt;
}

.abrigo-description {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.description-name-abrigo {
  font-size: 60pt;
  line-height: 60px;
}

.description-local-abrigo {
  font-size: 16pt;
  opacity: 0.5;
}

.description-insert-abrigo {
  font-size: 16pt;
  width: 80%;
}

.button {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: fit-content;
}