.page {
  padding: 0px 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  width: 100%;
  height: 140px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  width: 300px;
}

.account {
  display: flex;
  align-items: center;
  gap: 10px;
}

.account-name {
  font-size: 12pt;
}

.account-circle {
  width: 40px;
  height: 40px;
}

.slide {
  position: relative;
  border: 3px solid black;
  border-radius: 15px;
  width: 1250px;
  height: 220px;
  margin-bottom: 25px;
}

.slide-wrapper {
  position: relative;
  display: inline-block;
}

.slide-wrapper::before {
  content: "";
  position: absolute;
  top: 3px;
  left: 3px;
  width: 100%;
  height: 90%;
  border: 3px solid black;
  border-radius: 15px;
  z-index: 1;
  box-sizing: border-box;
}

.card {
  border: 3px solid black;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.card-image {
  border: 3px solid black;
  width: 200px;
  border-radius: 10px;
}

.card-name {
  margin: 10px 0px;
  width: 200px;
  height: auto;
}

.card-description {
  margin: 10px 0px;
  height: 30px;
}

.addict {
  width: 90%;
}

.house {
  width: 90%;
}

.addict-card {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.house-card {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.title {
  height: 60px;
  width: 100%;
}

.see-more {
  margin: 15px 0;
  display: flex;
  justify-content: flex-end;
}
