.header {
    /* background-color: red; */
    margin: 30px 75px;
    display: flex;
    justify-content: space-between;
}

.logo {
    /* background-color: green; */
    width: 300px;
}

.login {
    /* background-color: green; */
    width: 160px;
    gap: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.account_icon {
    width: 40px;
}