.page {
  padding: 0px 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  width: 80vw;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  width: 200px;
}

.account {
  display: flex;
  align-items: center;
  gap: 10px;
  color: black;
}

.account-name {
  font-size: 1rem;
}

.account-circle {
  width: 40px;
  height: 40px;
}

.addict {
  width: 80%;
}

.house {
  width: 80%;
}

.addict-card {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.house-card {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.title {
  height: 50px;
  font-size: 2rem;
}

.see-more {
  margin: 15px 0;
  display: flex;
  justify-content: flex-end;
}