.page {
  padding: 0px 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  width: 80vw;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  width: 200px;
}

.account {
  display: flex;
  align-items: center;
  gap: 10px;
  color: black;
}

.account-name {
  font-size: 12pt;
}

.account-circle {
  width: 40px;
  height: 40px;
}

.card {
  border: 3px solid black;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 10px;
}

.card-image {
  border: 3px solid black;
  width: 200px;
  height: 160px;
  object-fit: cover;
  border-radius: 10px;
}

.card-name {
  margin: 10px 0px;
  width: 200px;
  height: auto;
  font-size: 1.5rem;
  line-height: 26px;
}

.card-description {
  margin: 10px 0px;
  height: 15px;
  font-size: 1rem;
}

.addict {
  width: 80%;
}

.house {
  width: 80%;
}

.addict-card {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.house-card {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.title {
  height: 50px;
  font-size: 20pt;
}

.see-more {
  margin: 15px 0;
  display: flex;
  justify-content: flex-end;
}