.personal-list {
    position: relative;
}

.title::before {
    content: '';
    position: absolute;
    width: calc(100%);
    height: 5px;
    top: 40px;
    background: black;
}
.saved {
    margin: 20px 0;
    display: grid;
    gap: 40px;
    grid: auto-flow / 1fr 1fr 1fr 1fr;
}